body {
	background: #999;
}

h1 {
	text-align: center;
	font-size: 15px;
}

canvas {
	display: block;
	background: #fff;
	background-image: url("images/ranchh.jpg");
	margin: 0 auto;
	margin-top: 0;
}

audio {
	display: none;
}